	<link rel="stylesheet" href="{{url_for ('static', filename = 'css/bootstrap.css')}} " >
	<link rel="stylesheet" href="{{url_for ('static', filename = 'css/bootstrap.min.css')}} " >
	<link rel="stylesheet" href="{{url_for ('static', filename = 'css/bootstrap-grid.css')}} " >
	<link rel="stylesheet" href="{{url_for ('static', filename = 'css/bootstrap-grid.min.css')}} " >
	<link rel="stylesheet" href="{{url_for ('static', filename = 'css/bootstrap-reboot.css')}} " >
	<link rel="stylesheet" href="{{url_for ('static', filename = 'css/bootstrap-reboot.min.css')}} " >
	<script type="text/javascript" href="{{url_for ('static', filename = 'js/bootstrap.bundle.js')}} " ></script>
	<script type="text/javascript" href="{{url_for ('static', filename = 'js/bootstrap.bundle.min.js')}} " ></script>
	<script type="text/javascript" href="{{url_for ('static', filename = 'js/bootstrap.js')}} " ></script>
	<script type="text/javascript" href="{{url_for ('static', filename = 'js/bootstrap.min.js')}} " ></script>