<html>
	<head>
        {% include 'template/head.html' %}
		<title>Arduino - Monitoramento</title>
		<link rel="stylesheet" href="./static/css/layout.css">
	</head>
	<body>

       <div class="parent">
            <div class="div1">
                <div class="circleContainer">
                    <img src="{{url_for('static', filename='img/logo2.png')}}" alt="" id="logo"/>
                </div>
            </div>
            <div class="div2" style="overflow-y: scroll">
            {% include 'content.html' %}
            </div>
        </div>
	</body>
</html>